<!-- app/views/user_mailer/password_reset.html.erb -->
<h1><%= I18n.t('user_mailer.password_reset_instruction') %></h1>
<%= link_to I18n.t('views.button.mailer.reset_password'), edit_password_url(@password_reset_token) %>
