<div class="modal" id="myModal<%=user.id %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Dis-Enrollment</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Are you want to dis-enroll this course from this user?
      </div>
      <div class="modal-footer"><%= form_with(url: "/dashboard/dis_enroll_course/#{course.id}", method: 'delete') do |form| %>
          <%= form.hidden_field :user_id, value: user.id %>
          <div class="row mt-3">
            <div class="col-4"></div>
            <div class="col-4">
              <%= form.submit "Yes", class: "btn btn-sm btn-danger"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
